$primaire:#9356DC;
$secondaire:#FF79DA ;
$tertiaire:#99E2D0;

/*keyframe animation des cartes*/
@keyframes flash 
{
    0% {opacity: .4;}
	100% {opacity: 1;}
}
html{
    font-family: 'Roboto', sans-serif;
}
body{
    margin:0;
}
a{
    text-decoration: none;
    color: rgb(66, 66, 66);
}

/*partie logo OHMYFOOD*/

header nav{
    display:flex;
    justify-content:center;
    align-items:center;
    border-bottom: solid 1px white;
    box-shadow: grey 0 5px 5px;

}

header img{
    width: 200px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/* Partie Localisation*/

.localisation{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    color: rgb(66, 66, 66);}

    .icon{
        margin-right: 20px;
    }

/*RESERVEZ LE MENU*/

.mainreservez{
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #F6F6F6;
}

.explorer{
    margin:25px;
    border: 0;
    padding:15px 20px;
    font-size: 1rem;
    text-align: center;
    color:white;
    background-color: $secondaire;
    box-shadow: inset 0 -20px 30px $primaire;
    border-radius: 28px;
}
    .explorer:hover{
    background-color: #ffc5ef;
    box-shadow: inset 0 -20px 50px #bb92ee;
    }
        .explorer a{
            color:white;
        }

/*FONCTIONNEMENT*/

.fonctionnement{
    display: flex;
    flex-direction: column;
}
    .fonctionnement h1{
        margin-left: 20px;
    }

.containeretapes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.etapes{
    display: flex;
    align-items: center;
    background-color: #fcfcfc;
    border:solid 0px;
    border-radius: 15px;
    box-shadow:rgb(197, 195, 195) 1px 10px 10px ;
    padding: 20px 60px;
    margin-bottom: 30px;
    font-size: 14px;
    width:50%;
}
    .icons{
        display: flex;
        margin-right:15px;
        color:grey;
    } 
    .etapes:hover{
        background-color: #d2b6f39a;
        >.icons:hover{
                color:$primaire;
        }
    }

       
/*Les chiffres dans les ronds*/
.number{
    display:flex;
    padding: 5px 10px;
    border: solid $primaire 1px;
    border-radius: 100%;
    background-color: $primaire;
    color: white;
    position: absolute;
    margin:-72px;
}

/*RESTAURANTS*/
.restaurants{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-left:20px;
}


.blockrestaurants{
    display:flex;
    flex-direction: column;
    background-color: white;
    width:80%;
    height:280px;
    margin: 10px 0px;
    padding: 5px 5px;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(0, 0, 0,0.1);
    &:hover{
    opacity:1;
    -webkit-animation: flash 2s;
    animation:flash 2s;
    background-color: #99e2d05b;
    }
    img
    {
        height: 190px;
        width: 100%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;}

}

.descriptionrestaurant h3{
    color:black;
    margin-left:10px;
}
.descriptionrestaurant p{
    margin:10px;
}

/* le coeur*/
.coeur{
    display: flex;
    justify-content: flex-end;
    float:right;
    font-size: 20px;
    color:black;
    .fa-heart{
        font-size:20px;
    }

    .fa-heart:hover{
        font-size: 20px;
        font-weight: 900;
        background: linear-gradient(0deg, rgba(255,117,226,1) 23%, rgba(192,102,219,1) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        /*animation du coeur*/
        transition-timing-function: linear;
        transition-duration: 0.5s;
    }

}



/*LE FOOTER*/
footer{
    margin-top: 30px;
    background-color: #353535;
    height:230px;
    display: flex;
    flex-direction: column;
}
footer p{
    color:white;
    margin: 0 0 15px 20px;
}

footer .material-icons{
    padding: 0px 10px 0 0;
    display: inline;
    align-items: center;
}
footer img{
    width:120px;
    margin: 15px 0 25px 15px;
    /*change le logo en blanc*/
    filter:invert(1);
}

